* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* var
*/
:root {
  --mainColor: #333333;
}

/**##########header##############**/
.header {
  height: 60px;
  background-color: var(--mainColor);
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}
.header a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  font-size: 22px;
}

.header a:hover {
  border-bottom: 3px solid #fff;
}
header .logo {
  font-size: 2em;
}
.header ul {
  list-style: none;
  color: #fff;
  display: flex;
  margin-top: 15px;
}

/**#################main########################**/
.banner {
  height: 500px;
  background-image: url("https://cdn.pixabay.com/photo/2017/06/20/22/14/men-2425121_960_720.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

/** baner**/
.Cbanner {
  color: #fff;
  margin-left: 20%;
}
.Cbanner .titulo {
  font-weight: bold;
  font-size: 2.9em;
}
.Cbanner .parrafo {
  font-size: 1.7em;
}
button {
  padding: 5px;
  margin: 10px;
  background: transparent;
  border: 3px solid #fff;
  font-size: 20px;
}
button > a {
  color: #fff;
  text-decoration: none;
  font-size: 0.7em;
}

/** club**/
.club {
  padding: 20px;
}

.club > h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2.1em;
  margin-bottom: 15px;
}
.club > p {
  text-align: center;
  font-size: 1.1em;
}

/**blog*/

.blog h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  margin: 0 0 20px 0;
}

.img {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img figcaption {
  text-align: center;
  padding: 10px;
  font-size: 19px;
}

/** photos***/
.photos {
  height: auto;
  background-color: var(--mainColor);
}
.photos h3 {
  color: #fff;
  font-size: 1.4em;
}
.photo {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
}
.photo figure {
  width: 20%;
}
.photo figure img {
  width: 100%;
  border-radius: 100%;
  border: 5px solid #fff;
}


/*#####################footer****************************/

footer{
  height: auto;
  background-color:var(--mainColor);
  display:flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 10px;

}
footer a{
  text-decoration: none;
  color: #fff;
  margin: 10px;
}
.social{
  display: flex;
}

.social .fab{
  color: #fff;
  margin: 5px;
  font-size: 1.4em;
}